JSX Rules:
- return single element
    - div / section / article or Fragment
- use camelCase for html attribute
- className instead of className
- close every element 
- formatting
- inline styling requires {{}} to go from jsx to js, camelcase and quotations also required
- inline css overpowers external css file